body {
    background-color: #e4ffe8;
}



/*.container-fluid ,.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{*/
    /*padding-right: 0!important;*/
    /*padding-left: 0!important;*/
/*}*/
/*.jumbotron {*/
    /*margin: 0;*/
/*}*/
/*------------------------------------------------------*/
.nav-item {
    list-style: none;
}
.nav-item a {
    color: #0a0b0d;
    font-size: 18px;
}

/* MENU sidebar*/
.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

/*.but-collapse.active {*/
/*left: 0;*/
/*transition: 0.3s;*/
/*position: absolute;*/
/*left: 250px;*/
/*}*/
.but-collapse {
    /*margin-left: 300px;*/

    position: absolute;
    top: 5%;
    left: 270px;
    transition: 0.3s;
}
#content {
    width: calc(100% - 250px);
    /*padding: 40px;*/
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}
/*post-img*/



.post-wrapper {
    -webkit-box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.31);
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.31);
    border-radius: 10px;
    overflow: hidden;
}
.post-img img {
    width: 100%;
    /*border-top-left-radius: 10px;*/
    /*border-top-right-radius: 10px;*/
}
.post-wrapper .card {
    /*border-bottom-left-radius: 10px;*/
    /*border-bottom-right-radius: 10px;*/
}




/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}
/*------------------------------------------------------*/